// Imports -------------------------------------------------------------------
@import "base";
@import "contact";
@import "soc";
@import "tnc";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/font-face";
@import "compass/layout/stretching";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "companimation";
@import "companimation/preset/special/shake";
// webfonts
@include font-face("ranchersreg", font-files("../fonts/ranchers-regular-webfont.woff", "../fonts/ranchers-regular-webfont.ttf","ranchers-regular-webfont.eot","ranchers-regular-webfont.svg"));
@include font-face("lato-light", font-files("../fonts/lato-light-webfont.woff", "../fonts/lato-light-webfont.ttf","lato-light-webfont.eot","lato-light-webfont.svg"));
@include font-face("lato", font-files("../fonts/lato-regular-webfont.woff", "../fonts/lato-regular-webfont.ttf","lato-regular-webfont.eot","lato-regular-webfont.svg"));
// rounded corners mixin
@mixin rounded_borders($color, $ca, $cb, $cc, $cd, $width) 
{ -moz-border-radius: $ca $cb $cc $cd;
	-webkit-border-radius: $ca $cb $cc $cd; 
	-khtml-border-radius: $ca $cb $cc $cd;
	-o-border-radius: $ca $cb $cc $cd;
     border-radius: $ca $cb $cc $cd;
     border: $width $color solid;
 }
// Colours
$base_blue: rgba(0,71,204,0.75);//0047CC
$royal_blue: rgba(7,52,227,0.35);//0734E3
$darkblu : rgba(0,13,217,1);//000DD9
$liteblu : rgba(11,117,227,1);//0B75E3
$literblu: fade-out($liteblu, 0.65);
$darkrblu: darken($royal_blue, 0.75);
$white : rgba(255,255,255,1);
$lgrey : rgba(204,204,204,1);//CCC
$dgrey : rgba(142,142,142,1);//8E8E
// grid
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
/* Layout ------------------------------------------------------------------*/
body {
	background-image:url("../images/sys/use_your_illusion2.jpg");
	height:100%;
	width:100%;
	font-family:"lato";
	color:$white;
	.nfbody {
		margin-top:2em;
	}
	.container {
		@include container;
		// @include susy-grid-background;
		min-height:100%;
		height:100%;
		margin:0 auto -2em;
		header{	
			@include clearfix;
			//padding-bottom:2em;
			border-bottom:1px solid $lgrey;
			#nav {
			  	@include horizontal-list-container();
			  	
			  	ul {
				    list-style:none;
				    @include clearfix;
				    display:block;
				    margin-top:1em;
				    border-top:1px solid $lgrey;
				    border-bottom:1px solid $lgrey;
				    // padding-left:2.3em;
				    @include pretty-bullets("../images/sys/sharew.png", 1px, 4px);
				    li {
						float: left;
						@include clearfix;
						width:16%;
						a {
							display: block;
							padding:0.5em 0 0.5em 1.25em;
							background-color:none;
							color:#CCC;
							text-decoration:none;
							&:active {color:$royal_blue;}
							&:link {color:$darkblu;}
							&:focus {color:$darkblu;}
						}
						&:hover {
							background-color: $literblu;
							color:$dgrey;
							text-shadow: 2px 1px 0px #000000;
							margin-left:0.025em;
						}
						&:visited {

						}
					}
				}
			}
			#hblock {
				background-color:fade-out($base_blue, 0.3);
				@include rounded_borders($royal_blue, 6px, 6px, 6px, 6px, 1px);
				@include clearfix;			
				margin:1em 0.75em 0 0.5em;
				padding-bottom:0.5em;
				@media screen and (max-width: 800px) {
                    float: left;
                }
				section {
					@include span-columns(8);
					display:block;
					p {

				  	}
				}
				h1 {
			  		letter-spacing:0.075em;
			  		text-shadow: 2px 1px 1px $liteblu;
		  			color: $darkblu;
			  		font-family:"ranchersreg";
			  		font-size:2.15em;
			  		margin:0.5em 0 0 0.5em;
			  	}
			  	h3 {
			  		font-size:1.4em;
			  		//color:$white;
			  		margin:0.6em 0em 0em 1em;
			  	}
			  	#tel {
		  			font-family: "lato";
		  			text-shadow: 1px 2px 1px #000000;
		  			@include rounded_borders($darkblu, 6px, 6px, 6px, 6px, 1px);
		  			background-color:$literblu;
		  			color: $royal_blue;
		  			float:left;
		  			font-size: 3.1em;
		  			letter-spacing:0.02em;
		  			text-decoration: none;
		  			margin: 0em 0em 0em 0.35em;
		  			padding:0.25em 0.4em 0.25em 0.25em;
		  			&:hover {
		  				@include rounded_borders(#FFCC01, 6px, 6px, 6px, 6px, 1px);
						background-color:$base_blue;
						color:#FF2A00;
					}
					#tbone {
						padding:0;
						margin:0.25em 0 0 0;
						&:hover {
							@extend %shake;
						}	
					}
		  		}
			}
		  	img {
		  		float:left;
		  		margin:0.5em 0.5em 0 0.2em;
		  		
                width: 25%;
                @media screen and (max-width: 800px) {
                	max-width: 100% !important;
                	height: auto !important;
                }
		  	}
		  	p {
		  		font-family:"lato";
		  		font-size:0.95em;
		  		line-height:1.25em;
		  		margin:0.6em 0em 0.5em 1.6em;
		  		float:left;
		  	}
		  	h2 {
		  		color:$white;
		  		width:6em;
		  		float:left;
		  	}
		  	#map {
		  		@include rounded_borders($royal_blue, 1px, 1px, 1px, 1px, 1px);
		  		display:block;
		  		width:220px;
		  		height:268px;
		  		top: 0.9em;
		  		left:28.6em;
		  		.gmap_marker {
					font-size:0.65em;
					h3 {
						font-size:1.1em;
					}
					p {
						float:left;
					}
					images {
						width:30px;
						height:20px;
					}
				}
		  	}
		  	#roguectl {
		  		position:relative;
		  		top:-1em;
		  		display:block;
		  		float:left;
		  		#rstop {
		  			background: url(../images/sys/rstop.png) 0px 0px no-repeat;
		  			display: block;
		  			width: 32px;
		  			height: 16px;
		  			text-indent:-999px;
		  			float:left;
		  			margin-right:0.5em;
					&:hover {
						background: url(../images/sys/rstop.png) 1px 1px no-repeat;
			  			box-shadow:1px 1px 2px rgba(0,177, 255,1);
			  		}
			  		&:active{
						background: url(../images/sys/rstop_down.png) 1px 1px no-repeat;
			  			box-shadow:1px 1px 2px rgba(0,177, 255,1);
			  		}
		  		}
		  		#rgo {
		  			background: url(../images/sys/rgo.png) 0px 0px no-repeat;
		  			display: block;
		  			width: 32px;
		  			height: 16px;
		  			text-indent:-999px;
		  			float:right;
		  			&:hover {
		  				background: url(../images/sys/rgo.png) 1px 1px no-repeat;
			  			box-shadow:1px 1px 2px rgba(0,177, 255,1);
			  		}
			  		&:active {
		  				background: url(../images/sys/rgo_down.png) 1px 1px no-repeat;
			  			box-shadow:1px 1px 2px rgba(0,177, 255,1);
			  		}
		  		}
	  		}
		  	.rogues {
		  		position:relative;
		  		margin-left:0.5em;
		  		margin-bottom:1em;
		  		width:98%;
		  		height:2.8em;
		  		overflow:hidden;
		  		@include rounded_borders($liteblu, 3px, 3px, 3px, 3px, 1px);
		  		ul {
		  			list-style-type:none;
		  			width:2000em;
		  			position:absolute;
			    	li {
						float: left;
						width:7.5em;
						@include background-image(linear-gradient(top, $darkblu 0%,rgba(32,124,202,0.5) 43%,rgba(125,185,232,0.5) 100%));
						h4 {
					    	margin-left:4.25em;
					    	padding-top:0.45em;
					    	font-size:0.8em;
					    }
						a {
							display: block;
							height:45px;
							width:45px;
							color:$white;
							text-decoration:none;
							&:hover {
								background-color:$base_blue;
							}
						}
						.omid {
					    	display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) 0px 0px no-repeat;
						}
						.aweatherall {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -45px 0px no-repeat;
						
						}
						.bellatrix {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) 0px -45px no-repeat;
						
						}
						.buttrich {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -45px -45px no-repeat;
						
						}
						.circ {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -90px 0px no-repeat;
						
						}
						.cdale {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -90px -45px no-repeat;
						
						}
						.cstmartin {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -225px -180px no-repeat;
						
						}
						.dtpm {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -45px -90px no-repeat;
							
						}
						.eddierichards {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -90px -90px no-repeat;
						
						}
						.gmac {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -135px 0px no-repeat;
						
						}
						.jazzyb {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -135px -45px no-repeat;
						
						}
						.joeynegro {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -135px -90px no-repeat;
							
						}
						.justinrobertson {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) 0px -135px no-repeat;
						
						}
						.jwinkonra {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -45px -135px no-repeat;
						  
						}
						.lvis{
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -90px -135px no-repeat;
						
						}
						.mathewjonson {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -135px -135px no-repeat;
						 
						}
						.mothersole {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -180px 0px no-repeat;
						 
						}
						.mrc {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -180px -45px no-repeat;
						 
						}
						.nathan08 {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -180px -95px no-repeat;
						 
						}
						.nholloway {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -180px -135px no-repeat;
						  
						}
						.norman {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -0px -225px no-repeat;
						  	
						}
						.owensoriginal {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) 0px -180px no-repeat;
						
						}
						.rampling {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) 0px -90px no-repeat;
						
						}
						.raymundo {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -45px -180px no-repeat;
						 
						}
						.redbull {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -90px -180px no-repeat;
						  
						}
						.redlight {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -135px -180px no-repeat;
						  
						}
						.schlomo {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -180px -180px no-repeat;
						
						}
						.sbug {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -225px 0px no-repeat;
						
						}
						.superfreq {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -225px -45px no-repeat;
						 
						}
						.terryf {
							display: block;
					    	width: 45px;
					    	height: 45px;
					    	background: url(../images/face/face.png) -225px -90px no-repeat;
						 
						}
						.wiggleduo {
							display: block;
					    	background: url(../images/face/face.png) -225px -135px no-repeat;
					    	width: 45px;
					    	height: 45px;
						}
					}
		  		}
		  	}
		}
	  	#main {
		  	font-family:"lato";
		  	font-size:1.05em;
		  	color:$white;
		  	margin-top:1.75em;
		  	position:relative;
		  	@include clearfix;
		  	//Home Page
		  	#col1 {
		  		display: block;
		  		left: 0;
		  		top: 0;
		  		//margin-right:1em;
		  		height:100%;
		  		max-height: 100%!important;
		  		width:30%;
		  		float: left;
		  	}
		  	#col2 {
		  		@include clearfix;
		  		font-family:"lato-light";
		  		line-height:1.75em;
		  		display:block;
		  		margin-top: 2em;
		  		width:33%;
		  		float: left;
		  		img {
		  			margin:1em 0em 1em 1em;
		  			max-width: 100% !important;
                	height: auto !important;
		  		}
		  		p {
		  			text-align:center;
		  			font-size:1.25em;
		  		}
		  	}
		  	#col3 {
		  		display:block;
		  		position:relative;
		  		height:100%;
		  		width:30%;
		  		margin:0;
		  		float: right;
		  	}
	  		#manf {
	  			@include clearfix;
	  			display:inline-block;
	  			margin-top:3em;
	  			p {
	  				font-size:0.8em;
	  			}
	  			ul {
	  				@include horizontal-list;
	  				display:block;
	  				padding:0.5em 0em;
	  				li {
	  					padding:0em 1.5em;
	  					position:relative;
	  					a {
	  						display:block;
	  						border:1px solid transparent;
	  						.top {
	  							border:1px solid $white;
	  						}
	  						&:hover {
	  							border:1px solid $base_blue;
	  						}
	  					}
	  				}
	  			}
	  			.bss {
				  background: url(../images/thumbs/sprite.png) 0px -26px no-repeat;
				  display: block;
				  width: 74px;
				  height: 73px;
				}

				.qsc {
				  background: url(../images/thumbs/sprite.png) -77px 0px no-repeat;
				  display: block;
				  width: 74px;
				  height: 16px;
				}

				.shure {
				  background: url(../images/thumbs/sprite.png) -77px -18px no-repeat;
				  display: block;
				  width: 74px;
				  height: 73px;
				}

				.soundweb {
				  background: url(../images/thumbs/sprite.png) -153px 0px no-repeat;
				  display: block;
				  width: 74px;
				  height: 73px;
				}

				.vdam {
				  background: url(../images/thumbs/sprite.png) -153px -75px no-repeat;
				  display: block;
				  width: 74px;
				  height: 24px;
				}

				.xta {
				  background: url(../images/thumbs/sprite.png) 0px 0px no-repeat;
				  display: block;
				  width: 75px;
				  height: 24px;
				}
	  		}
	  		// Systems page
	  		section {
	  			display:inline;
	  			float:left;
	  			width:46.5%;
	  			margin:0;
	  		}
	  		#sysplus {
	  			margin:0 0 1.5em 5.8em;
	  			font-size:1.25em;
	  		}	  		
	  		#bblist {
	  			width:48%;
	  			margin-right:1em;
	  			margin-left:0.6em;
	  		}
	  		.accordion {
	  			overflow:hidden;
		    	list-style:none;
		    	margin-bottom:1em;
		    	text-shadow:1px 1px 1px rgba(0,0,0,0.25);
		    	@include rounded_borders($liteblu, 6px, 6px, 6px, 6px, 1px);
		    	.spkrico {
		    		display:inline-block;
		    		position:relative;
		    		top:0.4em;
		    		left:0.5em;
		    		margin:0;
		    		padding:0;
		    		images {
		    			margin-top:0.25em;
		    			width:24px;
		    			height:24px;
		    		}
		    		&+div {
		    			display:block;
		    			background-color:fade-in($base_blue, 0.4);
		    			@include rounded_borders($liteblu, 6px, 6px, 6px, 6px, 1px);
		    			//margin-bottom:1.35em;
		    		}
		    	}
		    	li {
			    	float:left;
				    width:20%;
				    overflow:hidden;
				    height:250px;				    
				    -moz-transition:width 0.2s ease-out;
				    -webkit-transition:width 0.2s ease-out;
				    -o-transition:width 0.2s ease-out;
				    transition:width 0.2s ease-out;
				    -moz-transition-delay:0.15s;
				    -webkit-transition-delay:0.15s;
				    -o-transition-delay:0.15s;
				    transition-delay:0.15s;
				}
				div {
					padding:0em 0.75em 1em;
					@include clearfix;				  	
					p {
						color:darken($dgrey, 48);
						padding:0 0.5em 1em;
				  		line-height:1.2em;
				  		font-size:1em;
				  	}
				  	span {
				  		position:relative;
				  		bottom:1.8em;
				  		float:right;
				  		font-size:1.25em;
				  		padding:0.25em 2em;
				  		//margin-top:1.5em;
				  		color:$base_blue;
				  		text-shadow: 1px 1px 1px $darkrblu;
				  		@include rounded_borders($darkblu, 6px, 6px, 6px, 6px, 2px);
				  		background-color:$darkrblu;
					  	&:hover {
					  		font-family:"lato";
					  		font-size:1.5em;
					  		padding:0.15em 1.5em;
			  				@include rounded_borders(#FF2A00, 6px, 6px, 6px, 6px, 2px);
							background-color:$white;
							letter-spacing:0.2em;
							color:#FF2A00;
						}
				  	}
				  	.pre {
				  		font-size:0.95em;
				  	}
				  	.pricer {
				  		margin-top:1.5em;
				  		font-size:1.8em;
				  	}
				}
				// .slide-03 p:last-of-type {
			 //  		margin-top:1em;
			 //  	}
				h2 {
					display:inline-block;
					font-size:1.8em;
					// margin-left:0.5em;
					padding-bottom:0.5em;
					word-spacing:0.05em;
				  	letter-spacing:0.02em;
				}
				h3 {
					color:lighten($liteblu, 24);
					font-size:1.8em;
					margin:0.25em 0em 0em;
					text-shadow:1px 1px 1px $literblu;
				}
			}
			#vertical{
	  			height:303px;
	  			@include background-image(linear-gradient(top, $darkblu 0%,rgba(32,124,202,0.5) 43%,rgba(125,185,232,0.5) 100%));
	  			box-shadow:2px 2px 2px $liteblu;
		  		li {
				  	float:none;
					height:15%;
					width:100%;
					-moz-transition:height 0.2s ease-out;
					-webkit-transition:height 0.2s ease-out;
					-o-transition:height 0.2s ease-out;
					transition:height 0.2s ease-out;
					// &:first-of-type {
					//   	@include rounded_borders($liteblu, 6px, 6px, 0px, 0px, 1px);
					// }
					&:li:last-of-type {
						-moz-border-radius:0 0 10px 10px;
						-webkit-border-radius:0 0 10px 10px;
						-o-border-radius:0 0 10px 10px;
						border-radius:0 0 10px 10px;
					}
					&:hover {
						height:65%;
						width:100%;
						li{
							height:15%;
							width:100%;
						}
					}
					p {
						font-family: "lato-light";
						padding:0;
					}
				}
			}
			#syslide {
				height:20em;
				@include rounded_borders($royal_blue, 6px, 6px, 6px, 6px, 2px);
				box-shadow:2px 2px 2px $liteblu;
			}
			#bbslide {
				margin-bottom:1.5em;
				width:48%;
			}
			.inner-slideshow {
				font-family:"lato-light";
				position:relative;
				max-width:100%;
				div {
				    position: absolute;
				    left: 0;
				    background-color: lighten($literblu, 32);
				}
				.top {
					top:0;
					width:100%;
					padding:1em 0 1em 2em;
				}
				.bottom {
					bottom:0.5em;
					width:100%;
					padding:1em 0 1em 2em;
				}
			}
			// About Page
			#theabout {
				font-family: "lato-light";
				font-size:1.2em;
				line-height:1.5em;
				word-spacing:0.05em;
				a {
					text-decoration:none;
					color:$liteblu;
				}
				h2 {
					margin-left:1em;
					padding:0;
					font-size:1.6em;
				}
				img {
					max-width:100%;
					height:20em;
					float:left;
					margin:1.5em 1.5em 5em;
					box-shadow:2px 2px 2px $liteblu;
					&+p {
						margin-top:1em;
					}
				}
				p {
					padding:1em;
				}
			}
		}
		#systag {
			font-family:"lato-light";
  			font-size:1.6em;
  			margin-left:5em;
  		}
	}
	// 404 extras
	#nfbox {
		float:left;
		margin-top:1em;
	}
	#nfhead {
		float:left;
		font-size:2.4em;
		margin:3em 0em 2.5em 0.5em;
		font-family:"lato";
	}
	#nftext, #nflink {
		float:left;
		margin-left:1.5em;
	}
	#nflink {
		margin-top:1em;
		a {
			padding:0.5em;
			font-size:1.1em;
		}
	}
	//footer biz
	#footer, .push {
		height:2em;
	}
	#footer {
		@include container;
		@include background-image(linear-gradient(top, $darkblu 0%,rgba(32,124,202,0.5) 43%,rgba(125,185,232,0.5) 100%));
		@include rounded_borders($darkblu, 6px, 6px, 0px, 0px, 1px);
		margin: 2em auto 0;
		#footnav {
			margin-top:1em;
			@include horizontal-list();
			a {
				display:block;
				color:$white;
				text-decoration:none;
				text-shadow: 2px 1px 1px $dgrey;
				padding:0.25em 1em;
				@include rounded_borders($darkblu, 0px, 0px, 6px, 6px, 1px);
				&:hover {
					background-color:$literblu;
					color:$dgrey;
					text-shadow: 2px 1px 0px #000000;
				}
				&:visited {
					
				}
			}
			li {
				padding-right:8.3em;
				padding-left:0;
			}
			&:first-child {
				padding-left:0.25em;
			}
		}
	}
	.tipsy {
		padding: 0.5em;
		font-size: 0.8em;
		// opacity: 0.8;
		// filter: alpha(opacity=80);
		background-image: url(../images/tipsy.gif);
	}
	.tipsy-inner {
		padding: 0.3em 0.5em 0.25em 0.5em;
		background-color: $white;
		@include rounded_borders($darkblu, 6px, 6px, 6px, 6px, 1px);
		color: $darkblu;
		max-width: 200px;
		text-align: center;
	}
	.tipsy-south { background-position: bottom center; }
}