.16b {
  background: url(face.png) 0px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.aweatherall {
  background: url(face.png) -45px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.bellatrix {
  background: url(face.png) 0px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.buttrich {
  background: url(face.png) -45px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.circus45 {
  background: url(face.png) -90px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.colin_dale {
  background: url(face.png) -90px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.cstmartin {
  background: url(face.png) -225px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.dtpm {
  background: url(face.png) -45px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.eddierichards {
  background: url(face.png) -90px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.gmac {
  background: url(face.png) -135px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.jazzy_B {
  background: url(face.png) -135px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.joeynegro {
  background: url(face.png) -135px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.justinrobertson {
  background: url(face.png) 0px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.jwinkonra {
  background: url(face.png) -45px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.l-vis1990 {
  background: url(face.png) -90px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.mathewjonson {
  background: url(face.png) -135px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.mothersole {
  background: url(face.png) -180px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.mrc {
  background: url(face.png) -180px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.nathan08 {
  background: url(face.png) -180px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.nholloway {
  background: url(face.png) -180px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.norman {
  background: url(face.png) 0px -225px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.owensoriginal {
  background: url(face.png) 0px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.rampling {
  background: url(face.png) 0px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.raymundo {
  background: url(face.png) -45px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.redbull {
  background: url(face.png) -90px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.redlight {
  background: url(face.png) -135px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.schlomo {
  background: url(face.png) -180px -180px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.steve_bug45 {
  background: url(face.png) -225px 0px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.superfreq {
  background: url(face.png) -225px -45px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.terryf {
  background: url(face.png) -225px -90px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.wiggleduo {
  background: url(face.png) -225px -135px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}