<div id="contactinfo">
  <h2>Get in Touch</h2>
  <ul>
    <li><a href="http://www.facebook.coom/bigblueaudio" class="socfb" title="Big Blue on Facebook"></a></li>
    <li><a href="http://twitter.com/bigblueaudio" class="soctw" title="@BigBlueAudio"></a></li>
    <li><a href="http://www.myspace.com/bbaudio" class="socmys" title="And on Myspace"></a></li>
  </ul>
</div>
<div ng-controller="ContactCtrl">
  <form class="jotform-form" action="http://submit.jotformeu.com/submit/22683541517354/" method="post" name="form_22683541517354" id="22683541517354" accept-charset="utf-8" ng-submit="submitForm()" novalidate>
  <!-- novalidate on form to disable html5 browser validation -->
  <input type="hidden" name="formID" value="22683541517354" />
  <div class="form-all">
    <ul class="form-section">
      <li class="form-input-wide">
        <div class="form-header-group">
          <h2 id="header_1" class="form-header">BBA Contact:</h2>
          <pre>its only to get in touch with us.We're just guys with big speakers who love to hear them roar.Email spammers we are not.</pre>
        </div>
      </li>
      <li class="form-line" id="id_3">
        <label class="form-label-left" for="input_3">
          Name<span class="form-required">*</span>
        </label>
        <div class="form-input">
          <input type="text" class="form-textbox" id="input_3" name="q3_name" size="26" ng-model="form_22683541517354.name" autofocus/>
        </div>
        <p ng-show="form_22683541517354.name.$invalid && !form_22683541517354.name.$pristine" class="help-block">You name is required.</p>
      </li>
      <li class="form-line">
        <label class="form-label-left" for="input_4">
          Your Email<span class="">*</span>
        </label>
        <div class="form-input">
          <input type="text" class="form-textbox" name="q4_yourEmail" size="26" ng-model="form_22683541517354.email"/>
        </div>
        <p ng-show="form_22683541517354.email.$invalid && !form_22683541517354.email.$pristine" class="">Enter a valid email.</p>
      </li>
      <li class="form-line">
        <label class="form-label-left" for="input_5">
          Subject<span class="form-required">*</span>
        </label>
        <div class="form-input">
          <input type="text" class="form-textbox" name="q5_subject" size="26" />
        </div>
      </li>
      <li>
        <label class="form-label-left" for="input_6">
          Message<span class="form-required">*</span>
        </label>
        <div class="form-input">
          <textarea class="form-textarea" name="q6_message"></textarea>
        </div>
      </li>
      <li class="form-line form-line-column">
        <div class="form-input-wide">
          <div class="form-buttons-wrapper">
            <button type="submit" class="form-submit-button" ng-disabled="form_22683541517354.$invalid">
              Send
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <input type="hidden" id="simple_spc" name="simple_spc" value="22683541517354" />
  <script type="text/javascript">document.getElementById("si" + "mple" + "_spc").value = "22683541517354-22683541517354";</script>
</form>
</div>
