<div id="topcell">
  <img id="col1"src="images/front/tmsleft.png" alt="Turbosound">
  <div id="col2">
    <img src="images/front/Turbo-logo.png" alt="Turbosound Logo">
    <!-- <p >Our PA packages use Tony Andrew's(Funktion One) final designs for Turbosound - All controlled with XTA digital processors to produce that impressive warm and clean sound that highlight the famous Turbosound Bass</p>-->
    <p>Specialising in DJ event sound reinforcement & production. Hire and installation (temporary & permanent) for dance events, corporate functions, showcase promotions, private parties as well as all other types of events.</p>
  </div>
  <img id="col3"src="images/front/tmsright.png" alt="Turbosound">
</div>
<p class="centred">Having worked for many years with a large number of international djs, electronic music acts and high end sound systems, our skill set is finely tuned for events of this nature.</p>
<div id="manf">
  <ul class="top">
    <li><a title="BSS -The Technology behind Soundweb Audio" class="bss" href="http://www.bss.co.uk/"><span>BSS</span></a></li>
    <li><a title="When you think microphones you think Shure" class="shure" href="http://www.shure.co.uk/products/microphones"><span>Shure</span></a></li>
    <li><a title="Professional precise sound control - Soundweb Audio" class="soundweb" href="http://www.bssaudio.com/soundweb_london.php"><span>Soundweb</span></a></li>
  </ul>
  <p>A chain is only as strong as it's links and Big Blue Audio UK are proud to use these in our Sound System packages</p>
  <ul class="bottom">
    <li><a title="Quality processing" class="xta" href="http://www.audiocore.co.uk/products.html"></a></li>
    <li><a title="Performance amplification from QSC" class="qsc" href="http://www.qscaudio.com/"></a></li>
    <li><a title="Precision interconnects" class="vdam" href="http://www.van-damme.com/product.html"></a></li>
  </ul>
</div>
