<p id="sysplus">Don't forget - ALL our Turbosound systems include: Delivery,Setup and an Engineer.</p>
<section id="bblist" >
	<ul class="accordion" id="vertical">
		<li class="slide-01">
			<div>
				<h2>Party System</h2>
				<div class="spkrico">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
					<img src="images/sys/spkr_off.png" alt="sys_off icon">
					<img src="images/sys/spkr_off.png" alt="sys_off icon">
				</div>
				<div>
					<!-- <p>Pubs, Clubs &amp; Parties - this package does it with plenty spare ;)</p> -->
					<h3>1000W Turbosound System</h3>
					<p>Covers rooms of(approx)50-150 people</p>
					<p class="pricer">Prices from &gt;&gt;&gt;&gt;</p>
					<span>£300</span>
				</div>
			</div>
		</li>
		<li class="slide-02">
			<div>
				<h2>Function System</h2>
				<div class="spkrico">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
					<img src="images/sys/spkr_off.png" alt="sys_off icon">
				</div>
				<div>
					<!-- <p>Our Medium sized system - suitable for larger Pubs, Clubs &amp; Weddings</p> -->
					<h3>5kW Turbosound System</h3>
					<p>Covers functions of(approx)150-350 people</p>
					<p class="pricer">Prices from &gt;&gt;&gt;&gt;</p>
					<span><strong>£500</strong></span>
				</div>
			</div>
		</li>
		<li class="slide-03">
			<div>
				<h2>Event System</h2>
				<div class="spkrico">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
					<img src="images/sys/spkr_on.png" alt="sys_on icon">
				</div>
				<div>
					<!-- <p>Our Largest system - massive sound for clubs,functions,venues,product launches,fashion shows,carnivals,larger weddings</p> -->
					<h3>15kW Turbosound system</h3>
					<!-- <p class="pre">(Yes, that's really TEN THOUSAND WATTS!!)</p> -->
					<p>Covers events of 300+ people</p>
					<p class="pricer">Prices from &gt;&gt;&gt;&gt;</p>
					<span>£800</span>
				</div>
			</div>
		</li>
	</ul>
</section>
<section id="bbslide">
	<div id="syslide">
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>DJ Kevin Griffiths on our system</h4>
            </div>  -->
			<img src="images/slides/djkevgrif.jpg" alt="kev griffiths at paramount"/>
		</div>	
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>Nathan Coles working the Turbos at the Comedy Cafe</h4>
            </div>  -->
			<img src="images/slides/sam_1129.jpg" alt="Wiggle NYE"/>
		</div>
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>A classic Christmas Party in full swing</h4>
            </div> --> 
			<img src="images/slides/ccut.jpg" alt="christmas party"/>
		</div>
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>Views over London</h4>
            </div>  -->
            <img src="images/slides/decksviewparamount.jpg" alt="views of london"/>
		</div>
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>Tiefschwarz in Action</h4>
            </div>  -->
			<img src="images/slides/djtiefschwarz.jpg" alt="tiefschwarz"/>
		</div>
		<div class="inner-slideshow">						 
			<img src="images/slides/urbk.jpg" alt="party setup"/>
			<!-- <div class="bottom">
            	<h4>Small rig for a side room</h4>
            </div> -->
		</div>
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>Performance artist's setup</h4>
            </div>  -->
			<img src="images/slides/mackieatpara.jpg" alt="performance setup"/>
		</div>
		<div class="inner-slideshow">
			<!-- <div class="top">
            	<h4>Another happy punter!!</h4>
            </div> --> 
			<img src="images/slides/barpara.jpg" alt="happy customers"/>
		</div>
	</div> 
</section>